# All of these should be pinned!
jupyterlab
matplotlib
numpy
pandas
tensorflow==2.4.1
scikit-learn
faker
pytest
uuid
faker
seaborn

## If we ever get to reinforcement learning
rl
tensorflow

## For other incremental learning
river
graphviz
