jupyterlab
matplotlib
numpy
pandas
tensorflow==2.4.1
scikit-learn
faker
pytest
uuid
faker
seaborn

## If we ever get to reinforcement learning
rl
tensorflow

## For other icremental learning
river
graphviz